browsispot,
ins,
.grecaptcha-badge,
.layoutItem.banner,
.layoutItem.top-ad,
.SiteVerticalArticleSocialShare_Wrapper,
.taboola-Div,
.tbl-feed-container,
.tbl-trecs-container,
[id="ads.skyscraper"] {
    display: none !important;
    transform: scale(0) !important;
}