.extended-banner,
.slotList.withImagePreview,
.taboola-general-feed,
.tbl-feed-card,
.ynet-editable-footer,
.yplus-promo-gallery,
[class*=" strip-marketing-"],
[id="ads.top"] {
    display: none !important;
}
