
.trj_image,
.trc_rbox_outer,
#F_Content > .block.B6 > .block:nth-child(1) {
	display: none !important;
}

.video-container-flp6 > iframe,
.article_live_tv > iframe {
	display: block !important;	
}

.art_tkb_talkback.art_tkb_talkback_open {
	background-color: #dcb !important;	
}

.art_tkb_talkback_content.art_tkb_talkback_content_visible {
	background-color: #edc !important;	
}
